body {
    background-color: #f7f7fb;
}

.card {
    border: none;
    border-radius: 12px;
}

.product-image {
    height: 200px;
    object-fit: cover;
}

.navbar-brand {
    font-weight: 600;
}

.table > :not(caption) > * > * {
    background-color: transparent;
}
